<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<body>
    <div class="site">
        <div class="title">
            <a href="{{ site.baseurl }}/">首页</a>
        </div>
        <div class="home">{{ content }}</div>
        <div class="footer">
            <div class="contact">
                <p>
                    manxisuo@gmail.com
                    <br />
                    su-yun.appspot.com
                </p>
            </div>
            <div class="contact">
                <p>
                    <a href="http://github.com/manxisuo">github.com/manxisuo</a>
                    <br />
                    <a href="http://flickr.com/suyun">flickr.com/suyun</a>
                </p>
            </div>
        </div>
    </div>    
</body>
</html>
